<!DOCTYPE root[<!ELEMENT jTable ANY>
<!ATTLIST jTable id ID #REQUIRED>
<!ELEMENT landingPage ANY>
<!ATTLIST landingPage id ID #REQUIRED>
<!ELEMENT profile ANY>
<!ATTLIST profile id ID #REQUIRED>
<!ELEMENT contactForm ANY>
<!ATTLIST contactForm id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT blogPostRepository ANY>
<!ATTLIST blogPostRepository id ID #REQUIRED>
<!ELEMENT blogPost ANY>
<!ATTLIST blogPost id ID #REQUIRED>
]>
<root id="-1">
  <profile id="1056" key="66839a64-716d-4260-9b23-011077c5ac4e" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-03-07T11:08:55" updateDate="2017-03-09T17:30:40" nodeName="Chandra" urlName="chandra" path="-1,1056" isDoc="" nodeType="1055" creatorName="cpr" writerName="cpr" writerID="0" template="1052" nodeTypeAlias="profile">
    <profileDescription><![CDATA[Smile is the Need]]></profileDescription>
    <countFriend>10</countFriend>
    <countEnemy>1</countEnemy>
    <avatarUrl><![CDATA[/media/1002/b033b19c1049f81b6be36ae8e92c90bb.jpg]]></avatarUrl>
    <fullName><![CDATA[Chandra Permana Putera]]></fullName>
    <chooseFriend><![CDATA[[{"id":"1056","text":"Chandra Permana Putera"},{"id":"1080","text":"Ihsan Firdaus"}]]]></chooseFriend>
    <title><![CDATA[Chandra Permana Putera]]></title>
    <livesPlace><![CDATA[Astom Residance]]></livesPlace>
    <workAt><![CDATA[Vox teneo]]></workAt>
    <whereYouComeFrom><![CDATA[Bandung]]></whereYouComeFrom>
    <wentTo><![CDATA[Heaven]]></wentTo>
    <fileUploads><![CDATA[1069,1070,1071,1072,1073,1074,1075,1076,1077,1078]]></fileUploads>
  </profile>
  <profile id="1080" key="e620f2e7-9ea6-40af-ada2-ca26b79589df" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2017-03-08T17:11:14" updateDate="2017-03-09T17:30:41" nodeName="Ihsan" urlName="ihsan" path="-1,1080" isDoc="" nodeType="1055" creatorName="cpr" writerName="cpr" writerID="0" template="1052" nodeTypeAlias="profile">
    <fullName><![CDATA[Ihsan Firdaus]]></fullName>
    <chooseFriend><![CDATA[[{"id":"1056","text":"Chandra Permana Putera"},{"id":"1080","text":"Ihsan Firdaus"}]]]></chooseFriend>
  </profile>
  <contactForm id="1084" key="8a8a1740-ad1d-44a2-acf9-933b3c544c9d" parentID="-1" level="1" creatorID="0" sortOrder="2" createDate="2017-03-09T14:46:49" updateDate="2017-03-09T14:46:49" nodeName="Feed Back" urlName="feed-back" path="-1,1084" isDoc="" nodeType="1083" creatorName="cpr" writerName="cpr" writerID="0" template="1081" nodeTypeAlias="contactForm">
    <form><![CDATA[d40dcd62-9245-4e5d-b581-bbf9024795ba]]></form>
  </contactForm>
  <profile id="1086" key="20ebda0a-3938-4979-a428-9431d2970112" parentID="-1" level="1" creatorID="0" sortOrder="3" createDate="2017-03-09T16:00:00" updateDate="2017-03-09T17:30:41" nodeName="DImas Anies" urlName="dimas-anies" path="-1,1086" isDoc="" nodeType="1055" creatorName="cpr" writerName="cpr" writerID="0" template="1052" nodeTypeAlias="profile">
    <fullName><![CDATA[Dimas Anies]]></fullName>
    <chooseFriend><![CDATA[""]]></chooseFriend>
  </profile>
  <profile id="1087" key="2b404730-a7b0-4e06-9607-184f05d40551" parentID="-1" level="1" creatorID="0" sortOrder="4" createDate="2017-03-09T16:25:18" updateDate="2017-03-09T17:30:41" nodeName="dimas" urlName="dimas" path="-1,1087" isDoc="" nodeType="1055" creatorName="cpr" writerName="cpr" writerID="0" template="1052" nodeTypeAlias="profile">
    <fullName><![CDATA[dimas]]></fullName>
    <chooseFriend><![CDATA[""]]></chooseFriend>
  </profile>
  <home id="1092" key="864931c3-61c4-4728-b875-fb592326c38a" parentID="-1" level="1" creatorID="0" sortOrder="5" createDate="2017-03-09T16:59:38" updateDate="2017-03-09T17:00:15" nodeName="Home" urlName="home" path="-1,1092" isDoc="" nodeType="1091" creatorName="cpr" writerName="cpr" writerID="0" template="1089" nodeTypeAlias="home">
    <content><![CDATA[{
  "name": "Left",
  "sections": [
    {
      "grid": 4,
      "rows": [
        {
          "label": "Headline",
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1069,
                    "image": "/media/1006/dizkra-03.jpg"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "8a995830-f654-da7c-7a0d-608b74787afe"
        }
      ]
    },
    {
      "grid": 4,
      "rows": [
        {
          "label": "Headline",
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Hello",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": true
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "248e83cd-952b-1ec5-da08-3e07bbafdb13"
        }
      ]
    },
    {
      "grid": 4,
      "rows": []
    }
  ]
}]]></content>
  </home>
  <blogPostRepository id="1104" key="ef079fec-86d3-46ea-9991-9a95b9ecf3c9" parentID="-1" level="1" creatorID="0" sortOrder="6" createDate="2017-03-09T17:32:13" updateDate="2017-03-09T17:32:13" nodeName="asdsads" urlName="asdsads" path="-1,1104" isDoc="" nodeType="1097" creatorName="cpr" writerName="cpr" writerID="0" template="1094" nodeTypeAlias="blogPostRepository">
    <umbracoNavHide>1</umbracoNavHide>
    <blogPost id="1105" key="bd958b25-6b95-4325-8886-d02b18b966c0" parentID="1104" level="2" creatorID="0" sortOrder="0" createDate="2017-03-09T17:32:37" updateDate="2017-03-09T17:32:42" nodeName="asdasdsadas" urlName="asdasdsadas" path="-1,1104,1105" isDoc="" nodeType="1102" creatorName="cpr" writerName="cpr" writerID="0" template="1103" nodeTypeAlias="blogPost">
      <introduction><![CDATA[sadsadasda]]></introduction>
      <content><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "label": "Headline",
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "dsfdsfdsfdsfds",
                  "editor": {
                    "alias": "quote"
                  },
                  "active": true
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "37caecbf-63d4-d2bb-e629-53e02858c7cb"
        }
      ]
    }
  ]
}]]></content>
    </blogPost>
    <blogPost id="1106" key="5acb62bd-05b2-46a8-9eb1-77c6700d83e3" parentID="1104" level="2" creatorID="0" sortOrder="1" createDate="2017-03-09T17:34:36" updateDate="2017-03-09T17:34:39" nodeName="232" urlName="232" path="-1,1104,1106" isDoc="" nodeType="1102" creatorName="cpr" writerName="cpr" writerID="0" template="1103" nodeTypeAlias="blogPost">
      <introduction><![CDATA[chanra]]></introduction>
      <content><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": []
    }
  ]
}]]></content>
    </blogPost>
  </blogPostRepository>
  <jTable id="1112" key="011d2ea6-1647-4c89-9b34-4e1e66b442ba" parentID="-1" level="1" creatorID="0" sortOrder="7" createDate="2017-03-09T21:07:19" updateDate="2017-03-09T21:07:19" nodeName="Message" urlName="message" path="-1,1112" isDoc="" nodeType="1110" creatorName="cpr" writerName="cpr" writerID="0" template="1109" nodeTypeAlias="jTable" />
</root>